body {
  text-align: center;
  background: #0b0b1a;
  color: white;
  font-family: Arial;
}

canvas {
  border: 2px solid white;
  margin-top: 20px;
  background: #111;
}

#gift {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  padding: 30px;
  border-radius: 15px;
  font-size: 24px;
}

.hidden {
  display: none;
}
